<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardreview">
	<select id="getData2" parameterType="boardreviewDto" resultType="boardreviewDto">
	SELECT a.*	
	FROM(SELECT num,<![CDATA[
		(SELECT br2.num FROM board_review br2 WHERE br2.num < board_review.num ORDER BY br2.num
		DESC LIMIT 1) prevNum,
		(SELECT MIN(br2.num)FROM board_review br2 WHERE br2.num > board_review.num ORDER BY br2.num
		DESC) nextNum,]]> writer, title, content, viewCount, regdate 
			FROM board_review	
				<where>
					<if test="writer != null">
						OR writer LIKE CONCAT('%',#{writer},'%')
					</if>
					<if test="title != null">
						OR title LIKE CONCAT('%',#{title},'%')
					</if>
						<if test="content != null">
						OR content LIKE CONCAT('%',#{content},'%')
					</if>
				</where>			
	    ) AS a  
	 WHERE num=#{num}
	      		
	</select>	
	<select id="getList" parameterType="boardreviewDto" resultType="boardreviewDto">
		
		SELECT *
		FROM (SELECT result1.*, (@ROWNUM:=@ROWNUM+1) AS rnum
		 	  FROM (SELECT num, writer, title, content, viewCount, regdate
			        FROM board_review
			        <where>
						<if test="writer != null">
							OR writer LIKE CONCAT('%',#{writer},'%')
						</if>
						<if test="title != null">
							OR title LIKE CONCAT('%',#{title},'%')
						</if>
						<if test="content != null">
							OR content LIKE CONCAT('%',#{content},'%')
						</if>
					</where>
			        ORDER BY num DESC) result1,(SELECT @ROWNUM:=0)TMP)AS final
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<insert id="insert" parameterType="boardreviewDto">
		INSERT INTO board_review
		(num, writer, title, content, viewCount, regdate)
		SELECT case count(*) WHEN 0 THEN 1 ELSE MAX(num) + 1 END, #{writer}, #{title}, #{content},
		#{viewCount}, now() FROM board_review
	</insert>
	<select id="getCount" resultType="int" parameterType="boardreviewDto">
		
		SELECT count(*)
		FROM board_review
		<where>
			<if test="writer != null">
				OR writer LIKE CONCAT('%',#{writer},'%')
			</if>
			<if test="title != null">
				OR title LIKE CONCAT('%',#{title},'%')
			</if>
			<if test="content != null">
				OR content LIKE CONCAT('%',#{content},'%')
			</if>
		</where>
	</select>
	
	<update id="addViewCount" parameterType="int">
		UPDATE board_review
		SET viewCount=viewCount+1
		WHERE num=#{num}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM board_review
		WHERE num=#{num}
	</delete>
	
	<select id="getData" parameterType="int" resultType="boardreviewDto">
		SELECT a.*	
		FROM(SELECT num,<![CDATA[
				(SELECT br2.num FROM board_review br2 WHERE br2.num < board_review.num ORDER BY br2.num
				DESC LIMIT 1) prevNum,
				(SELECT MIN(br2.num)FROM board_review br2 WHERE br2.num > board_review.num ORDER BY br2.num
				DESC) nextNum,]]> writer, title, content, viewCount, regdate 
			FROM board_review	
		    ) AS a  
		 WHERE num=#{num}
	</select>
	
	<update id="update" parameterType="boardreviewDto">
		UPDATE board_review
		SET title=#{title}, content=#{content}
		WHERE num=#{num}
	</update>
</mapper>

























